src/reles/build
src/reles/kernel/*.ko
src/reles/kernel/*.mod
src/reles/kernel/*.o
src/reles/kernel/*.cmd
src/reles/build
src/reles/kernel/*.ko
src/reles/kernel/*.order
src/reles/kernel/*.symvers
src/reles/kernel/.tmp_versions
src/reles/kernel/*.mod.c
src/reles/__pycache__

src/falcon/build
src/falcon/kernel/*.mod
src/falcon/kernel/*.ko
src/falcon/kernel/*.o
src/falcon/kernel/*.cmd
src/falcon/kernel/*.ko
src/falcon/kernel/*.order
src/falcon/kernel/*.symvers
src/falcon/kernel/.tmp_versions
src/falcon/kernel/*.mod.c
src/falcon/__pycache__
src/falcon/kernel/old_tests
src/falcon/kernel/**.d
src/falcon/sorted_Experience/*.pkl
src/falcon/meta_models/*.pkl
src/falcon/*.csv
src/falcon/build
src/falcon/*.dat

src/base/*.dat

src/results
src/client/*.csv
src/client/*.dat

src/test/*.apconf

src/**/*.dat
src/**/*.pkl
src/**/*.csv
src/**/build
src/**/__pycache__

test/*.png
test/*.csv
test/__pycache__
test/test_results
test/old_plots
docs/_build

src/custom_mptcp_kernel
src/test_files

src/falcon_ext/kernel/*.mod
src/falcon_ext/kernel/*.ko
src/falcon_ext/kernel/*.o
src/falcon_ext/kernel/*.cmd
src/falcon_ext/kernel/*.ko
src/falcon_ext/kernel/*.order
src/falcon_ext/kernel/*.symvers
src/falcon_ext/kernel/.tmp_versions
src/falcon_ext/kernel/*.mod.c


src/reles_ext/kernel/*.mod
src/reles_ext/kernel/*.ko
src/reles_ext/kernel/*.o
src/reles_ext/kernel/*.cmd
src/reles_ext/kernel/*.ko
src/reles_ext/kernel/*.order
src/reles_ext/kernel/*.symvers
src/reles_ext/kernel/.tmp_versions
src/reles_ext/kernel/*.mod.c
